# 101.Changing Data 
# section 12:- 47 to 48 minutes video point# section 12 47 to 48 minutes video point

In [23]:
import pandas as pd

In [24]:
phone_csv = pd.read_csv('phone_csv.csv')
phone_csv

        Make Colour  Memory(kb)  Sim Cards    Price
0      Nokia  White      150043          4  $400.00
1    Samsung    Red       87899          4  $500.00
2      Nokia   Blue       32549          3  $700.00
3     Iphone  Black       11179          5  $220.00
4  Motorolla  White      213095          4  $350.00
5      Nokia  Green       99213          4  $450.00
6    Samsung   Blue       45698          4  $750.00
7    Samsung   Blue       54738          4  $700.00
8      Nokia  White       60000          4  $625.00
9  Motorolla  White       31600          4  $970.00

In [25]:
phone_csv['Colour'].str.lower() 
#str ko call ky phir usky uper lower ka function call kya
#yeh is lye k Colur column m jitny bhe capital words or letters h sub small letter hojy gy

0    white
1      red
2     blue
3    black
4    white
5    green
6     blue
7     blue
8    white
9    white
Name: Colour, dtype: str

In [26]:
phone_csv

        Make Colour  Memory(kb)  Sim Cards    Price
0      Nokia  White      150043          4  $400.00
1    Samsung    Red       87899          4  $500.00
2      Nokia   Blue       32549          3  $700.00
3     Iphone  Black       11179          5  $220.00
4  Motorolla  White      213095          4  $350.00
5      Nokia  Green       99213          4  $450.00
6    Samsung   Blue       45698          4  $750.00
7    Samsung   Blue       54738          4  $700.00
8      Nokia  White       60000          4  $625.00
9  Motorolla  White       31600          4  $970.00

# section 12 47 to 48 minutes video point

In [35]:
phone_csv_missing = pd.read_csv('phone_data_missing_values.csv')
phone_csv_missing

         Make Colour  Memory(kb)  Sim Cards    Price
0       Nokia  White    150043.0        4.0  $400.00
1     Samsung    Red     87899.0        4.0  $500.00
2         zte    NaN         NaN        NaN      NaN
3       Nokia   Blue     32549.0        3.0  $700.00
4      Iphone  Black     11179.0        5.0  $220.00
5   Motorolla  White    213095.0        4.0  $350.00
6      Iphone    NaN         NaN        NaN      NaN
7       Nokia  Green     99213.0        4.0  $450.00
8     Samsung   Blue     45698.0        4.0  $750.00
9     Samsung   Blue     54738.0        4.0  $700.00
10      Nokia  White     60000.0        4.0  $625.00
11  Motorolla  White     31600.0        4.0  $970.00
12    Samsung    NaN         NaN        NaN      NaN

In [30]:
phone_csv_missing['Memory(kb)'].mean()

np.float64(78601.4)

In [41]:
#Faulty method from ehunar
#phone_csv_missing['Memory(kb)'].fillna(phone_csv_missing['Memory(kb)'].mean(), inplace=True)
#phone_csv_missing

In [43]:
#corrected from copilot
phone_csv_missing['Memory(kb)'] = phone_csv_missing['Memory(kb)'].fillna(phone_csv_missing['Memory(kb)'].mean())
phone_csv_missing

         Make Colour  Memory(kb)  Sim Cards    Price
0       Nokia  White    150043.0        4.0  $400.00
1     Samsung    Red     87899.0        4.0  $500.00
2         zte    NaN     78601.4        NaN      NaN
3       Nokia   Blue     32549.0        3.0  $700.00
4      Iphone  Black     11179.0        5.0  $220.00
5   Motorolla  White    213095.0        4.0  $350.00
6      Iphone    NaN     78601.4        NaN      NaN
7       Nokia  Green     99213.0        4.0  $450.00
8     Samsung   Blue     45698.0        4.0  $750.00
9     Samsung   Blue     54738.0        4.0  $700.00
10      Nokia  White     60000.0        4.0  $625.00
11  Motorolla  White     31600.0        4.0  $970.00
12    Samsung    NaN     78601.4        NaN      NaN

In [44]:
phone_csv_missing.dropna()

         Make Colour  Memory(kb)  Sim Cards    Price
0       Nokia  White    150043.0        4.0  $400.00
1     Samsung    Red     87899.0        4.0  $500.00
3       Nokia   Blue     32549.0        3.0  $700.00
4      Iphone  Black     11179.0        5.0  $220.00
5   Motorolla  White    213095.0        4.0  $350.00
7       Nokia  Green     99213.0        4.0  $450.00
8     Samsung   Blue     45698.0        4.0  $750.00
9     Samsung   Blue     54738.0        4.0  $700.00
10      Nokia  White     60000.0        4.0  $625.00
11  Motorolla  White     31600.0        4.0  $970.00

In [45]:
phone_csv_missing.dropna(inplace=True)
phone_csv_missing

         Make Colour  Memory(kb)  Sim Cards    Price
0       Nokia  White    150043.0        4.0  $400.00
1     Samsung    Red     87899.0        4.0  $500.00
3       Nokia   Blue     32549.0        3.0  $700.00
4      Iphone  Black     11179.0        5.0  $220.00
5   Motorolla  White    213095.0        4.0  $350.00
7       Nokia  Green     99213.0        4.0  $450.00
8     Samsung   Blue     45698.0        4.0  $750.00
9     Samsung   Blue     54738.0        4.0  $700.00
10      Nokia  White     60000.0        4.0  $625.00
11  Motorolla  White     31600.0        4.0  $970.00

In [46]:
phone_csv_missing.to_csv('Cleaned_data.csv')