In [2]:
import pandas as pd

In [3]:
phone_csv=pd.read_csv('cleaned_data.csv')

In [4]:
phone_csv

   Unnamed: 0       Make Colour  Memory(kb)  Sim Cards    Price
0           0      Nokia  White    150043.0        4.0  $400.00
1           1    Samsung    Red     87899.0        4.0  $500.00
2           3      Nokia   Blue     32549.0        3.0  $700.00
3           4     Iphone  Black     11179.0        5.0  $220.00
4           5  Motorolla  White    213095.0        4.0  $350.00
5           7      Nokia  Green     99213.0        4.0  $450.00
6           8    Samsung   Blue     45698.0        4.0  $750.00
7           9    Samsung   Blue     54738.0        4.0  $700.00
8          10      Nokia  White     60000.0        4.0  $625.00
9          11  Motorolla  White     31600.0        4.0  $970.00

In [5]:
battries = pd.Series([3,4,5,6,7])
phone_csv['battery'] = battries

In [6]:
phone_csv

   Unnamed: 0       Make Colour  Memory(kb)  Sim Cards    Price  battery
0           0      Nokia  White    150043.0        4.0  $400.00      3.0
1           1    Samsung    Red     87899.0        4.0  $500.00      4.0
2           3      Nokia   Blue     32549.0        3.0  $700.00      5.0
3           4     Iphone  Black     11179.0        5.0  $220.00      6.0
4           5  Motorolla  White    213095.0        4.0  $350.00      7.0
5           7      Nokia  Green     99213.0        4.0  $450.00      NaN
6           8    Samsung   Blue     45698.0        4.0  $750.00      NaN
7           9    Samsung   Blue     54738.0        4.0  $700.00      NaN
8          10      Nokia  White     60000.0        4.0  $625.00      NaN
9          11  Motorolla  White     31600.0        4.0  $970.00      NaN

In [7]:
phone_csv['battery'] = phone_csv['battery'].fillna(5)
#This creates a new Series with missing values filled and assigns it back to the column.
#Clean, explicit, and avoids chained assignment issues.
phone_csv

   Unnamed: 0       Make Colour  Memory(kb)  Sim Cards    Price  battery
0           0      Nokia  White    150043.0        4.0  $400.00      3.0
1           1    Samsung    Red     87899.0        4.0  $500.00      4.0
2           3      Nokia   Blue     32549.0        3.0  $700.00      5.0
3           4     Iphone  Black     11179.0        5.0  $220.00      6.0
4           5  Motorolla  White    213095.0        4.0  $350.00      7.0
5           7      Nokia  Green     99213.0        4.0  $450.00      5.0
6           8    Samsung   Blue     45698.0        4.0  $750.00      5.0
7           9    Samsung   Blue     54738.0        4.0  $700.00      5.0
8          10      Nokia  White     60000.0        4.0  $625.00      5.0
9          11  Motorolla  White     31600.0        4.0  $970.00      5.0

In [8]:
ringtones = [1,2,5,6,8,9,5,10,2,7]
phone_csv['Ringtones'] = ringtones

In [9]:
phone_csv

,Unnamed: 0,Make,Colour,Memory(kb),Sim Cards,Price,battery,Ringtones
0,0,Nokia,White,150043.0,4.0,$400.00,3.0,1
1,1,Samsung,Red,87899.0,4.0,$500.00,4.0,2
2,3,Nokia,Blue,32549.0,3.0,$700.00,5.0,5
3,4,Iphone,Black,11179.0,5.0,$220.00,6.0,6
4,5,Motorolla,White,213095.0,4.0,$350.00,7.0,8
5,7,Nokia,Green,99213.0,4.0,$450.00,5.0,9
6,8,Samsung,Blue,45698.0,4.0,$750.00,5.0,5
7,9,Samsung,Blue,54738.0,4.0,$700.00,5.0,10
8,10,Nokia,White,60000.0,4.0,$625.00,5.0,2
9,11,Motorolla,White,31600.0,4.0,$970.00,5.0,7

In [10]:
phone_csv['Product'] = phone_csv['battery']*phone_csv['Ringtones']

In [11]:
phone_csv

,Unnamed: 0,Make,Colour,Memory(kb),Sim Cards,Price,battery,Ringtones,Product
0,0,Nokia,White,150043.0,4.0,$400.00,3.0,1,3.0
1,1,Samsung,Red,87899.0,4.0,$500.00,4.0,2,8.0
2,3,Nokia,Blue,32549.0,3.0,$700.00,5.0,5,25.0
3,4,Iphone,Black,11179.0,5.0,$220.00,6.0,6,36.0
4,5,Motorolla,White,213095.0,4.0,$350.00,7.0,8,56.0
5,7,Nokia,Green,99213.0,4.0,$450.00,5.0,9,45.0
6,8,Samsung,Blue,45698.0,4.0,$750.00,5.0,5,25.0
7,9,Samsung,Blue,54738.0,4.0,$700.00,5.0,10,50.0
8,10,Nokia,White,60000.0,4.0,$625.00,5.0,2,10.0
9,11,Motorolla,White,31600.0,4.0,$970.00,5.0,7,35.0

# we can directly assign/create a colum

In [12]:
phone_csv['New_col'] = 3

In [13]:
phone_csv

,Unnamed: 0,Make,Colour,Memory(kb),Sim Cards,Price,battery,Ringtones,Product,New_col
0,0,Nokia,White,150043.0,4.0,$400.00,3.0,1,3.0,3
1,1,Samsung,Red,87899.0,4.0,$500.00,4.0,2,8.0,3
2,3,Nokia,Blue,32549.0,3.0,$700.00,5.0,5,25.0,3
3,4,Iphone,Black,11179.0,5.0,$220.00,6.0,6,36.0,3
4,5,Motorolla,White,213095.0,4.0,$350.00,7.0,8,56.0,3
5,7,Nokia,Green,99213.0,4.0,$450.00,5.0,9,45.0,3
6,8,Samsung,Blue,45698.0,4.0,$750.00,5.0,5,25.0,3
7,9,Samsung,Blue,54738.0,4.0,$700.00,5.0,10,50.0,3
8,10,Nokia,White,60000.0,4.0,$625.00,5.0,2,10.0,3
9,11,Motorolla,White,31600.0,4.0,$970.00,5.0,7,35.0,3

# boolean value assigning

In [14]:
phone_csv['Battery safety'] = True

In [15]:
phone_csv

,Unnamed: 0,Make,Colour,Memory(kb),Sim Cards,Price,battery,Ringtones,Product,New_col,Battery safety
0,0,Nokia,White,150043.0,4.0,$400.00,3.0,1,3.0,3,True
1,1,Samsung,Red,87899.0,4.0,$500.00,4.0,2,8.0,3,True
2,3,Nokia,Blue,32549.0,3.0,$700.00,5.0,5,25.0,3,True
3,4,Iphone,Black,11179.0,5.0,$220.00,6.0,6,36.0,3,True
4,5,Motorolla,White,213095.0,4.0,$350.00,7.0,8,56.0,3,True
5,7,Nokia,Green,99213.0,4.0,$450.00,5.0,9,45.0,3,True
6,8,Samsung,Blue,45698.0,4.0,$750.00,5.0,5,25.0,3,True
7,9,Samsung,Blue,54738.0,4.0,$700.00,5.0,10,50.0,3,True
8,10,Nokia,White,60000.0,4.0,$625.00,5.0,2,10.0,3,True
9,11,Motorolla,White,31600.0,4.0,$970.00,5.0,7,35.0,3,True

In [16]:
phone_csv.dtypes

Unnamed: 0          int64
Make                  str
Colour                str
Memory(kb)        float64
Sim Cards         float64
Price                 str
battery           float64
Ringtones           int64
Product           float64
New_col             int64
Battery safety       bool
dtype: object

# How to remove a column

In [17]:
phone_csv.drop('New_col',axis=1,inplace=True)

In [20]:
phone_csv

,Unnamed: 0,Make,Colour,Memory(kb),Sim Cards,Price,battery,Ringtones,Product,Battery safety
0,0,Nokia,White,150043.0,4.0,$400.00,3.0,1,3.0,True
1,1,Samsung,Red,87899.0,4.0,$500.00,4.0,2,8.0,True
2,3,Nokia,Blue,32549.0,3.0,$700.00,5.0,5,25.0,True
3,4,Iphone,Black,11179.0,5.0,$220.00,6.0,6,36.0,True
4,5,Motorolla,White,213095.0,4.0,$350.00,7.0,8,56.0,True
5,7,Nokia,Green,99213.0,4.0,$450.00,5.0,9,45.0,True
6,8,Samsung,Blue,45698.0,4.0,$750.00,5.0,5,25.0,True
7,9,Samsung,Blue,54738.0,4.0,$700.00,5.0,10,50.0,True
8,10,Nokia,White,60000.0,4.0,$625.00,5.0,2,10.0,True
9,11,Motorolla,White,31600.0,4.0,$970.00,5.0,7,35.0,True

In [21]:
###1:02:08hours

In [23]:
phone_csv.drop('Unnamed: 0', axis=1, inplace=True)

In [24]:
phone_csv

,Make,Colour,Memory(kb),Sim Cards,Price,battery,Ringtones,Product,Battery safety
0,Nokia,White,150043.0,4.0,$400.00,3.0,1,3.0,True
1,Samsung,Red,87899.0,4.0,$500.00,4.0,2,8.0,True
2,Nokia,Blue,32549.0,3.0,$700.00,5.0,5,25.0,True
3,Iphone,Black,11179.0,5.0,$220.00,6.0,6,36.0,True
4,Motorolla,White,213095.0,4.0,$350.00,7.0,8,56.0,True
5,Nokia,Green,99213.0,4.0,$450.00,5.0,9,45.0,True
6,Samsung,Blue,45698.0,4.0,$750.00,5.0,5,25.0,True
7,Samsung,Blue,54738.0,4.0,$700.00,5.0,10,50.0,True
8,Nokia,White,60000.0,4.0,$625.00,5.0,2,10.0,True
9,Motorolla,White,31600.0,4.0,$970.00,5.0,7,35.0,True