In [25]:
import pandas as pd

In [26]:
phone_csv=pd.read_csv('cleaned_data.csv')

In [27]:
phone_csv

   Unnamed: 0       Make Colour  Memory(kb)  Sim Cards    Price
0           0      Nokia  White    150043.0        4.0  $400.00
1           1    Samsung    Red     87899.0        4.0  $500.00
2           3      Nokia   Blue     32549.0        3.0  $700.00
3           4     Iphone  Black     11179.0        5.0  $220.00
4           5  Motorolla  White    213095.0        4.0  $350.00
5           7      Nokia  Green     99213.0        4.0  $450.00
6           8    Samsung   Blue     45698.0        4.0  $750.00
7           9    Samsung   Blue     54738.0        4.0  $700.00
8          10      Nokia  White     60000.0        4.0  $625.00
9          11  Motorolla  White     31600.0        4.0  $970.00

In [36]:
#phone_csv.drop('Unnamed: 0', axis=1, inplace=True)

In [37]:
#phone_csv

In [38]:
phone_csv.sample(frac=0.5)

        Make Colour  Memory(kb)  Sim Cards    Price
7    Samsung   Blue     54738.0        4.0  $700.00
4  Motorolla  White    213095.0        4.0  $350.00
5      Nokia  Green     99213.0        4.0  $450.00
9  Motorolla  White     31600.0        4.0  $970.00
3     Iphone  Black     11179.0        5.0  $220.00

In [41]:
phone_csv.reset_index(drop=True,inplace=True)

In [42]:
phone_csv

        Make Colour  Memory(kb)  Sim Cards    Price
0      Nokia  White    150043.0        4.0  $400.00
1    Samsung    Red     87899.0        4.0  $500.00
2      Nokia   Blue     32549.0        3.0  $700.00
3     Iphone  Black     11179.0        5.0  $220.00
4  Motorolla  White    213095.0        4.0  $350.00
5      Nokia  Green     99213.0        4.0  $450.00
6    Samsung   Blue     45698.0        4.0  $750.00
7    Samsung   Blue     54738.0        4.0  $700.00
8      Nokia  White     60000.0        4.0  $625.00
9  Motorolla  White     31600.0        4.0  $970.00

In [43]:
phone_csv['Memory(kb)'] = phone_csv['Memory(kb)'].apply(lambda x:x/1000)

In [44]:
phone_csv

        Make Colour  Memory(kb)  Sim Cards    Price
0      Nokia  White     150.043        4.0  $400.00
1    Samsung    Red      87.899        4.0  $500.00
2      Nokia   Blue      32.549        3.0  $700.00
3     Iphone  Black      11.179        5.0  $220.00
4  Motorolla  White     213.095        4.0  $350.00
5      Nokia  Green      99.213        4.0  $450.00
6    Samsung   Blue      45.698        4.0  $750.00
7    Samsung   Blue      54.738        4.0  $700.00
8      Nokia  White      60.000        4.0  $625.00
9  Motorolla  White      31.600        4.0  $970.00

In [ ]:
#1:09:01