In [8]:
import pandas as pd

In [10]:
# 1 Dimensional Series #yad sy series ka S capital rakhna warna error ay gi
mobile = pd.Series(['samsung','iphone','Nokia'])
mobile

0    samsung
1     iphone
2      Nokia
dtype: str

In [11]:
# 1 Dimensional Series #yad sy series ka S capital rakhna warna error ay gi
bag = pd.Series(['Pen','book','ruler'])
bag

0      Pen
1     book
2    ruler
dtype: str

In [13]:
# 2 Dimensional Data
dataframe = pd.DataFrame({"electronic":mobile,'item':bag})
dataframe

  electronic   item
0    samsung    Pen
1     iphone   book
2      Nokia  ruler