In [12]:
import pandas as pd

In [13]:
# 1 Dimensional Series #yad sy series ka S capital rakhna warna error ay gi
mobile = pd.Series(['samsung','iphone','Nokia'])
mobile

0    samsung
1     iphone
2      Nokia
dtype: str

In [14]:
# 1 Dimensional Series #yad sy series ka S capital rakhna warna error ay gi
bag = pd.Series(['Pen','book','ruler'])
bag

0      Pen
1     book
2    ruler
dtype: str

In [15]:
# 2 Dimensional Data
dataframe = pd.DataFrame({"electronic":mobile,'item':bag})
dataframe

  electronic   item
0    samsung    Pen
1     iphone   book
2      Nokia  ruler

In [16]:
####to get the path where python or jupyter is finding or working
import os
os.getcwd()

'C:\\python_Projects\\Python_ka_onion\\Section 12 Pandas for Data Analysis'

In [17]:
#### 97 How to import Data
#Most common Files Format CSV Comma Separated Values
customer_churn_data = pd.read_csv("customer_churn_data.txt")
customer_churn_data.head()

,customer_id,age,gender,tenure_months,monthly_charges,total_charges,contract_type,payment_method,internet_service,support_calls,churn
0,C001,45,M,24,70.5,1692.0,One year,Credit card,Fiber,1,0
1,C002,29,F,6,89.9,539.4,Month-to-month,Electronic check,Fiber,3,1
2,C003,61,M,48,55.3,2654.4,Two year,Bank transfer,DSL,0,0
3,C004,34,F,12,95.1,1141.2,Month-to-month,Electronic check,Fiber,4,1
4,C005,52,M,36,60.0,2160.0,One year,Credit card,DSL,1,0

In [18]:
customer_churn_data.to_csv("customer_churn_data.csv", index=False)

In [19]:
customer_churn_data = pd.read_csv("customer_churn_data.csv")
customer_churn_data.head()

,customer_id,age,gender,tenure_months,monthly_charges,total_charges,contract_type,payment_method,internet_service,support_calls,churn
0,C001,45,M,24,70.5,1692.0,One year,Credit card,Fiber,1,0
1,C002,29,F,6,89.9,539.4,Month-to-month,Electronic check,Fiber,3,1
2,C003,61,M,48,55.3,2654.4,Two year,Bank transfer,DSL,0,0
3,C004,34,F,12,95.1,1141.2,Month-to-month,Electronic check,Fiber,4,1
4,C005,52,M,36,60.0,2160.0,One year,Credit card,DSL,1,0

In [20]:
customer_churn_data.to_csv("modified_customer_churn_data.csv")

In [21]:
customer_churn_data = pd.read_csv("modified_customer_churn_data.csv")
customer_churn_data.head()

,Unnamed: 0,customer_id,age,gender,tenure_months,monthly_charges,total_charges,contract_type,payment_method,internet_service,support_calls,churn
0,0,C001,45,M,24,70.5,1692.0,One year,Credit card,Fiber,1,0
1,1,C002,29,F,6,89.9,539.4,Month-to-month,Electronic check,Fiber,3,1
2,2,C003,61,M,48,55.3,2654.4,Two year,Bank transfer,DSL,0,0
3,3,C004,34,F,12,95.1,1141.2,Month-to-month,Electronic check,Fiber,4,1
4,4,C005,52,M,36,60.0,2160.0,One year,Credit card,DSL,1,0

### HOW TO DESCRIBE DATA /n ###Functions()

In [25]:
customer_churn_data.dtypes

Unnamed: 0            int64
customer_id             str
age                   int64
gender                  str
tenure_months         int64
monthly_charges     float64
total_charges       float64
contract_type           str
payment_method          str
internet_service        str
support_calls         int64
churn                 int64
dtype: object

In [26]:
customer_churn_data.columns

Index(['Unnamed: 0', 'customer_id', 'age', 'gender', 'tenure_months',
       'monthly_charges', 'total_charges', 'contract_type', 'payment_method',
       'internet_service', 'support_calls', 'churn'],
      dtype='str')

In [29]:
columsn = customer_churn_data.columns
columsn

Index(['Unnamed: 0', 'customer_id', 'age', 'gender', 'tenure_months',
       'monthly_charges', 'total_charges', 'contract_type', 'payment_method',
       'internet_service', 'support_calls', 'churn'],
      dtype='str')

In [30]:
customer_churn_data.index

RangeIndex(start=0, stop=6, step=1)

In [42]:
customer_churn_data.describe()

,Unnamed: 0,age,tenure_months,monthly_charges,total_charges,support_calls,churn
count,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000
mean,2.500000,43.666667,21.500000,78.383333,1414.250000,2.333333,0.500000
std,1.870829,11.724618,17.840964,18.925794,922.613357,1.966384,0.547723
min,0.000000,29.000000,3.000000,55.300000,298.500000,0.000000,0.000000
25%,1.250000,35.750000,7.500000,62.625000,689.850000,1.000000,0.000000
50%,2.500000,43.000000,18.000000,80.200000,1416.600000,2.000000,0.500000
75%,3.750000,50.250000,33.000000,93.800000,2043.000000,3.750000,1.000000
max,5.000000,61.000000,48.000000,99.500000,2654.400000,5.000000,1.000000

In [43]:
customer_churn_data.info()

<class 'pandas.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        6 non-null      int64
 1   customer_id       6 non-null      str
 2   age               6 non-null      int64
 3   gender            6 non-null      str
 4   tenure_months     6 non-null      int64
 5   monthly_charges   6 non-null      float64
 6   total_charges     6 non-null      float64
 7   contract_type     6 non-null      str
 8   payment_method    6 non-null      str
 9   internet_service  6 non-null      str
 10  support_calls     6 non-null      int64
 11  churn             6 non-null      int64
dtypes: float64(2), int64(5), str(5)
memory usage: 708.0 bytes

In [ ]:
customer_churn_data.mean()  #our data contain stings error arises

You ran:

omer_churn_data.mean()


Here‚Äôs what you need to know üëá

1Ô∏è‚É£ Will this work or not?
‚úÖ It WILL work only if all columns are numeric
‚ùå It WILL FAIL if even one column is text (string)

That‚Äôs exactly the issue you hit earlier.

2Ô∏è‚É£ Safe & correct way (RECOMMENDED)

Always do this üëá

omer_churn_data.mean(numeric_only=True)


This tells pandas:

‚ÄúIgnore text columns, only calculate mean on numbers‚Äù

3Ô∏è‚É£ Check WHY it fails (important habit)

Run this:

omer_churn_data.dtypes


If you see:

object


that column is text and cannot have a mean.

4Ô∏è‚É£ Mean of ONE column (best for learning)
omer_churn_data["monthly_charges"].mean()


or

omer_churn_data["churn"].mean()


üëâ churn mean = churn rate

5Ô∏è‚É£ If churn is still text (Yes/No)

Fix it once and forever:

omer_churn_data["churn"] = omer_churn_data["churn"].map({"Yes": 1, "No": 0})


Then:

omer_churn_data.mean()

üß† Golden rule (pin this in your head)

Math ‚Üí numbers only
Text ‚Üí clean/convert first

Quick check for you

Run this and tell me what you see:

omer_churn_data.dtypes

In [44]:
customer_churn_data.mean(numeric_only=True) #Ignores text columns, only calculate mean on numbers

Unnamed: 0            2.500000
age                  43.666667
tenure_months        21.500000
monthly_charges      78.383333
total_charges      1414.250000
support_calls         2.333333
churn                 0.500000
dtype: float64

In [45]:
customer_churn_data['age']

0    45
1    29
2    61
3    34
4    52
5    41
Name: age, dtype: int64

In [47]:
customer_churn_data['total_charges']

0    1692.0
1     539.4
2    2654.4
3    1141.2
4    2160.0
5     298.5
Name: total_charges, dtype: float64

In [49]:
customer_churn_data['monthly_charges']

0    70.5
1    89.9
2    55.3
3    95.1
4    60.0
5    99.5
Name: monthly_charges, dtype: float64

In [50]:
#also we can do sum of columns values
customer_churn_data['monthly_charges'].sum()

np.float64(470.29999999999995)

In [51]:
customer_churn_data['monthly_charges'].sum()

np.float64(470.29999999999995)