In [1]:
#99 Data selection and data view

In [3]:
import pandas as pd

In [30]:
# 1. Define the correct data dictionary
data = {
    "Make": ["Nokia", "Samsung", "Nokia", "Iphone", "Motorolla", "Nokia", "Samsung", "Samsung", "Nokia", "Motorolla"],
    "Colour": ["White", "Red", "Blue", "Black", "White", "Green", "Blue", "Blue", "White", "White"],
    "Memory(kb)": [150043, 87899, 32549, 11179, 213095, 99213, 45698, 54738, 60000, 31600],
    "Sim Cards": [4, 4, 3, 5, 4, 4, 4, 4, 4, 4],
    "Price": ["$400.00", "$500.00", "$700.00", "$220.00", "$350.00", "$450.00", "$750.00", "$700.00", "$625.00", "$970.00"]
}

# 2. Save it properly to your local folder
pd.DataFrame(data).to_csv("phone_csv.csv", index=False)

# 3. Read it back into your variable
phone_csv = pd.read_csv("phone_csv.csv")
phone_csv
# Fixing the brand names
phone_csv["Make"] = phone_csv["Make"].replace({
    "Ssamsung": "Samsung",
    "Motorolla": "Motorola"
})

In [31]:
phone_csv = pd.read_csv("phone_csv.csv")
phone_csv

        Make Colour  Memory(kb)  Sim Cards    Price
0      Nokia  White      150043          4  $400.00
1    Samsung    Red       87899          4  $500.00
2      Nokia   Blue       32549          3  $700.00
3     Iphone  Black       11179          5  $220.00
4  Motorolla  White      213095          4  $350.00
5      Nokia  Green       99213          4  $450.00
6    Samsung   Blue       45698          4  $750.00
7    Samsung   Blue       54738          4  $700.00
8      Nokia  White       60000          4  $625.00
9  Motorolla  White       31600          4  $970.00

In [32]:
phone_csv.head()

        Make Colour  Memory(kb)  Sim Cards    Price
0      Nokia  White      150043          4  $400.00
1    Samsung    Red       87899          4  $500.00
2      Nokia   Blue       32549          3  $700.00
3     Iphone  Black       11179          5  $220.00
4  Motorolla  White      213095          4  $350.00

In [34]:
phone_csv.head(8) #how many you want

        Make Colour  Memory(kb)  Sim Cards    Price
0      Nokia  White      150043          4  $400.00
1    Samsung    Red       87899          4  $500.00
2      Nokia   Blue       32549          3  $700.00
3     Iphone  Black       11179          5  $220.00
4  Motorolla  White      213095          4  $350.00
5      Nokia  Green       99213          4  $450.00
6    Samsung   Blue       45698          4  $750.00
7    Samsung   Blue       54738          4  $700.00

In [35]:
phone_csv.tail()

        Make Colour  Memory(kb)  Sim Cards    Price
5      Nokia  Green       99213          4  $450.00
6    Samsung   Blue       45698          4  $750.00
7    Samsung   Blue       54738          4  $700.00
8      Nokia  White       60000          4  $625.00
9  Motorolla  White       31600          4  $970.00

In [37]:
phone_csv.tail(2)

        Make Colour  Memory(kb)  Sim Cards    Price
8      Nokia  White       60000          4  $625.00
9  Motorolla  White       31600          4  $970.00

Think of this as narrowing your view to just the categories you care about.
# Single Column: phone_csv["Make"]

Returns a Pandas Series (a single list).

In [42]:
# from gimi
#we can select single column which we care about..
phone_csv["Make"]

0        Nokia
1      Samsung
2        Nokia
3       Iphone
4    Motorolla
5        Nokia
6      Samsung
7      Samsung
8        Nokia
9    Motorolla
Name: Make, dtype: str

#Indexing (.loc) or Location(.iloc)

In [51]:
birds = pd.Series(['crow','pigion','parrot','wingedDonkey','eagle'],index = [0,3,9,8,3])
#when call this birds then i will get output otherwise it moves to next cell

In [55]:
birds = pd.Series(['crow','pigion','parrot','wingedDonkey','eagle'],index = [0,3,9,8,3])
#when call this birds then i will get output otherwise it moves to next cell
#so we must call function = birds
birds

0            crow
3          pigion
9          parrot
8    wingedDonkey
3           eagle
dtype: str

In [56]:
birds.loc[8] #indexing

'wingedDonkey'

In [58]:
birds.iloc[3] #Position

'wingedDonkey'

In [65]:
#phone_csv.iloc[:3]
#or
phone_csv.iloc[0:3]

      Make Colour  Memory(kb)  Sim Cards    Price
0    Nokia  White      150043          4  $400.00
1  Samsung    Red       87899          4  $500.00
2    Nokia   Blue       32549          3  $700.00

# we can do above .iloc(:3) func in the same with .head(3) they work same

In [69]:
phone_csv.head(3)

      Make Colour  Memory(kb)  Sim Cards    Price
0    Nokia  White      150043          4  $400.00
1  Samsung    Red       87899          4  $500.00
2    Nokia   Blue       32549          3  $700.00

In [70]:
#. method
phone_csv.Make

0        Nokia
1      Samsung
2        Nokia
3       Iphone
4    Motorolla
5        Nokia
6      Samsung
7      Samsung
8        Nokia
9    Motorolla
Name: Make, dtype: str

In [71]:
#bad thing in . method

In [72]:
phone_csv.Sim Card #Does not work when there is space in the column

SyntaxError: invalid syntax (2615877447.py, line 1)

#similarly

In [44]:
# from gimi also from ehunar lectures
phone_csv["Price"]

0    $400.00
1    $500.00
2    $700.00
3    $220.00
4    $350.00
5    $450.00
6    $750.00
7    $700.00
8    $625.00
9    $970.00
Name: Price, dtype: str

# Multiple Columns: 
phone_csv[["Make", "Price"]]

Note the double brackets [[ ]]. This returns a smaller DataFrame.

In [45]:
# from gimi also from ehunar lectures
phone_csv[["Make", "Price"]]

        Make    Price
0      Nokia  $400.00
1    Samsung  $500.00
2      Nokia  $700.00
3     Iphone  $220.00
4  Motorolla  $350.00
5      Nokia  $450.00
6    Samsung  $750.00
7    Samsung  $700.00
8      Nokia  $625.00
9  Motorolla  $970.00

In [73]:
#also from ehunar lectures
phone_csv

        Make Colour  Memory(kb)  Sim Cards    Price
0      Nokia  White      150043          4  $400.00
1    Samsung    Red       87899          4  $500.00
2      Nokia   Blue       32549          3  $700.00
3     Iphone  Black       11179          5  $220.00
4  Motorolla  White      213095          4  $350.00
5      Nokia  Green       99213          4  $450.00
6    Samsung   Blue       45698          4  $750.00
7    Samsung   Blue       54738          4  $700.00
8      Nokia  White       60000          4  $625.00
9  Motorolla  White       31600          4  $970.00

In [74]:
#also from ehunar lectures
phone_csv[phone_csv["Colour"]=='White']

        Make Colour  Memory(kb)  Sim Cards    Price
0      Nokia  White      150043          4  $400.00
4  Motorolla  White      213095          4  $350.00
8      Nokia  White       60000          4  $625.00
9  Motorolla  White       31600          4  $970.00

In [75]:
phone_csv[phone_csv['Price']>450] #command is correct error will comes because Type of Price colum is object data type it caontains a dollar sin
#so turn this code we need to remove $ sign of phone_csv data col

TypeError: '>' not supported between instances of 'str' and 'int'

# This is a 'safety' step if your memory column ever contains text 
The Fix: Convert String to Float
# Remove the $ symbol and any commas, then convert to float
phone_csv["Price"] = phone_csv["Price"].str.replace(r'[\$,]', '', regex=True).astype(float)

# Now your command will work perfectly!
phone_csv[phone_csv['Price'] > 450]
## Whatâ€™s happening under the hood?
.str.replace(r'[\$,]', '', regex=True): This looks for both the dollar sign and any commas (in case a price is like $1,000) and deletes them.

.astype(float): This changes the data type from an "Object" (string) to a "Float" (decimal number).

# Quick Verification
After running the fix, you can run phone_csv.dtypes in a new cell. You should see:

Price float64

Once it's a float64, you can do even cooler things like phone_csv['Price'].mean() or phone_csv['Price'].sum().

In [76]:
# This works if the type is already numeric
high_memory = phone_csv[phone_csv['Memory(kb)'] > 100000]
high_memory

        Make Colour  Memory(kb)  Sim Cards    Price
0      Nokia  White      150043          4  $400.00
4  Motorolla  White      213095          4  $350.00

In [46]:
# from gimi
phone_csv[2:6]

        Make Colour  Memory(kb)  Sim Cards    Price
2      Nokia   Blue       32549          3  $700.00
3     Iphone  Black       11179          5  $220.00
4  Motorolla  White      213095          4  $350.00
5      Nokia  Green       99213          4  $450.00

1. Selecting a Single Cell with .iloc
The i in .iloc stands for Integer. It uses numbers for both the row and the column, starting from 0.

Formula: dataframe.iloc[row_index, column_index]

In [47]:
# from gimi Select the 'Memory(kb)' (column 2) for the 4th row (index 3)
memory_value = phone_csv.iloc[3, 2]
print(f"The memory of the 4th phone is: {memory_value}")

The memory of the 4th phone is: 11179

2. Selecting a Single Cell with .loc
While .iloc uses numbers, .loc uses Labels. This is usually safer if you aren't sure which column number is which.

Formula: dataframe.loc[row_index, "Column_Name"]

In [48]:
# from gimi__Select the 'Price' for the row where index is 2
price_value = phone_csv.loc[2, "Price"]
print(f"The price of the 3rd phone is: {price_value}")

The price of the 3rd phone is: $700.00