In [1]:
# Learn From Scikit Learn

In [2]:
## 1 Getting the Data Ready
## 2 Choosing Machine Learning Model
## 3 Fit Model
## 4 Elevate Model
## 5 Improve
## 6 Saving the Model
## 7 summary

In [4]:
import pandas as pd

In [5]:
heart_disease = pd.read_csv('heart_disease_300.csv')

In [6]:
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,67,1,2,122,139,1,1,168,0,2.2,1,1,0,0
1,57,0,0,154,232,1,2,108,0,4.1,1,2,0,0
2,43,0,3,107,259,0,0,84,0,4.9,1,3,1,1
3,71,1,2,185,166,1,2,188,1,5.7,2,3,0,1
4,36,0,0,138,120,1,1,98,1,1.5,2,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,46,1,1,115,376,0,1,171,1,0.4,0,3,1,0
299,74,0,1,157,197,0,1,88,0,3.6,0,0,2,1
300,46,0,2,108,490,1,1,151,0,3.5,0,3,2,0
301,30,0,0,173,294,0,0,92,1,3.5,1,3,1,0
302,63,0,0,186,313,1,0,152,1,3.7,1,0,1,1

In [8]:
# create x
X = heart_disease.drop('target',axis=1)
X
# create y
Y = heart_disease['target']
Y

0      0
1      0
2      1
3      1
4      0
      ..
298    0
299    1
300    0
301    0
302    1
Name: target, Length: 303, dtype: int64