In [9]:
import pandas as pd

In [10]:
import numpy as np

In [16]:
phone_data = pd.read_csv('phone_csv.csv')
phone_data

        Make Colour  Memory(kb)  Sim Cards    Price
0      Nokia  White      150043          4  $400.00
1    Samsung    Red       87899          4  $500.00
2      Nokia   Blue       32549          3  $700.00
3     Iphone  Black       11179          5  $220.00
4  Motorolla  White      213095          4  $350.00
5      Nokia  Green       99213          4  $450.00
6    Samsung   Blue       45698          4  $750.00
7    Samsung   Blue       54738          4  $700.00
8      Nokia  White       60000          4  $625.00
9  Motorolla  White       31600          4  $970.00

In [17]:
type(phone_data['Price'][0])

str

In [18]:
#phone_data['Price'] = phone_data['Price'].str.replace('[\$\,\.]','') #41.02 error in video way
phone_data['Price'] = phone_data['Price'].str.replace('[\$,\.]', '', regex=True) #Error Fixed

phone_data

        Make Colour  Memory(kb)  Sim Cards  Price
0      Nokia  White      150043          4  40000
1    Samsung    Red       87899          4  50000
2      Nokia   Blue       32549          3  70000
3     Iphone  Black       11179          5  22000
4  Motorolla  White      213095          4  35000
5      Nokia  Green       99213          4  45000
6    Samsung   Blue       45698          4  75000
7    Samsung   Blue       54738          4  70000
8      Nokia  White       60000          4  62500
9  Motorolla  White       31600          4  97000

In [21]:
# phone_data['Price'] = phone_data[0]
type(phone_data['Price'][0])

str

In [24]:
phone_data['Price'] = phone_data['Price'].str[:-2]

In [25]:
phone_data

        Make Colour  Memory(kb)  Sim Cards Price
0      Nokia  White      150043          4   400
1    Samsung    Red       87899          4   500
2      Nokia   Blue       32549          3   700
3     Iphone  Black       11179          5   220
4  Motorolla  White      213095          4   350
5      Nokia  Green       99213          4   450
6    Samsung   Blue       45698          4   750
7    Samsung   Blue       54738          4   700
8      Nokia  White       60000          4   625
9  Motorolla  White       31600          4   970