# Rehsape and  Transpose

In [29]:
import pandas as pd

In [30]:
import numpy as np

## Step 1: Original array
a2d = np.array([[1,2,3],[5,6,7]])

print(a2d.shape)   # (2, 3)

In [3]:
a2d = np.array([[1,2,3],[5,6,7]])

In [4]:
a2d

array([[1, 2, 3],
       [5, 6, 7]])

## üëâ A simple way to explain to students:
‚Äú.shape is like asking NumPy: how many rows and how many columns are in my table?‚Äù

In [5]:
a2d.shape

(2, 3)

# Step 2: Transpose (.T)
Transpose flips rows ‚Üî columns.
So your array becomes:

1	5
2	6
3	7

In [9]:
a2d.T.shape 
#Transposed array (a2d.T)
# Transpose means flip rows and columns.

(3, 2)

In [10]:
a2d.T 
#üëâ Easy way to explain:
# Transpose is like rotating the table so that rows become columns and columns become rows.

array([[1, 5],
       [2, 6],
       [3, 7]])

# 1. What is reshape?
In NumPy, reshape changes the shape (rows √ó columns) of an array without changing the data.

Think of it like rearranging chairs in a classroom:

Same number of chairs (data).

Different arrangement (rows and columns).

In [11]:
#Rehsape
a2d.reshape(2,3,1)

array([[[1],
        [2],
        [3]],

       [[5],
        [6],
        [7]]])

In [12]:
a2d.reshape(2,3,1).shape

(2, 3, 1)

# 117. EXERCISE

In [31]:
np.random.seed(seed=0)
item_amount = np.random.randint(20,size=(5,3))
item_amount

array([[12, 15,  0],
       [ 3,  3,  7],
       [ 9, 19, 18],
       [ 4,  6, 12],
       [ 1,  6,  7]], dtype=int32)

In [32]:
item_price = np.array([12,8,11])
item_price.shape

(3,)

In [33]:
item_price_df = pd.DataFrame(item_price.reshape(1,3),
                             index=['item_price'],
                             columns=['item1','item2','item3'])

In [34]:
item_price_df.shape,item_amount.T.shape

((1, 3), (3, 5))

In [50]:
total_price = item_price.dot(item_amount.T)

In [51]:
total_price

array([264, 137, 458, 228, 137])

In [52]:
price = pd.DataFrame(total_price,index=['Mon','Tue','Wed','Thu','Fri'],columns=['item_price'])
price

     item_price
Mon         264
Tue         137
Wed         458
Thu         228
Fri         137

In [53]:
weekly_sales = pd.DataFrame(item_amount,index=['Mon','Tue','Wed','Thu','Fri'],columns=['item1','item2','item3'])

In [54]:
weekly_sales

     item1  item2  item3
Mon     12     15      0
Tue      3      3      7
Wed      9     19     18
Thu      4      6     12
Fri      1      6      7

In [57]:
weekly_sales['Total']=price

In [58]:
weekly_sales

     item1  item2  item3  item_price  Total
Mon     12     15      0         264    264
Tue      3      3      7         137    137
Wed      9     19     18         458    458
Thu      4      6     12         228    228
Fri      1      6      7         137    137