In [1]:
sk_learn_steps =[
    "1: Getting the Data Ready"
    "2: Choosing Machine Learning Model"
    "3: Fit Model"
    "4: Evaluate Model"
    "5: Improve Model"
    "6: Saving the Model"
    "7: Summary"
]

# 1 : Getting the Data Ready¶
### 1.1 Split data into features and label,
 ### (independent vs dependent variable),X,y
### 1.2 Filling missing values
### 1.3 Converting data Types

In [2]:
#standard Imports jo har haal m hum ny import krn he hoty h
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

ModuleNotFoundError: No module named 'numpy'

# 149 Step 1 Getting Data Ready Part 1¶
#### now
### 1.2 Converting data types

In [3]:
phone_data = pd.read_csv("phone_data_larg.csv")
phone_data

          Make Colour  Memory(kb)  Sim Cards    Price
0        Nokia  White      150043          4  $400.00
1      Samsung    Red       87899          4  $500.00
2        Nokia   Blue       32549          3  $700.00
3       Iphone  Black       11179          5  $220.00
4    Motorolla  White      213095          4  $350.00
..         ...    ...         ...        ...      ...
995      Nokia  Green       99213          4  $450.00
996    Samsung   Blue       45698          4  $750.00
997    Samsung   Blue       54738          4  $700.00
998      Nokia  White       60000          4  $625.00
999  Motorolla  White       31600          4  $970.00

[1000 rows x 5 columns]

In [4]:
phone_data.dtypes

Make            str
Colour          str
Memory(kb)    int64
Sim Cards     int64
Price           str
dtype: object

In [5]:
phone_data['Price'] = phone_data['Price'].str[:-2]
phone_data['Price']

0      $400.
1      $500.
2      $700.
3      $220.
4      $350.
       ...
995    $450.
996    $750.
997    $700.
998    $625.
999    $970.
Name: Price, Length: 1000, dtype: str

In [6]:
#regex= True is added it is in newer versions of pandas in in older 
phone_data['Price'] = phone_data['Price'].str.replace(r"[\$,\. ]", "", regex=True)  # remove $, commas, dots, spaces.astype(int)
phone_data['Price']

0      400
1      500
2      700
3      220
4      350
      ...
995    450
996    750
997    700
998    625
999    970
Name: Price, Length: 1000, dtype: str

In [7]:
phone_data

          Make Colour  Memory(kb)  Sim Cards Price
0        Nokia  White      150043          4   400
1      Samsung    Red       87899          4   500
2        Nokia   Blue       32549          3   700
3       Iphone  Black       11179          5   220
4    Motorolla  White      213095          4   350
..         ...    ...         ...        ...   ...
995      Nokia  Green       99213          4   450
996    Samsung   Blue       45698          4   750
997    Samsung   Blue       54738          4   700
998      Nokia  White       60000          4   625
999  Motorolla  White       31600          4   970

[1000 rows x 5 columns]

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X = phone_data.drop('Price', axis=1)
y = phone_data['Price']
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)
X,y

(          Make Colour  Memory(kb)  Sim Cards
 0        Nokia  White      150043          4
 1      Samsung    Red       87899          4
 2        Nokia   Blue       32549          3
 3       Iphone  Black       11179          5
 4    Motorolla  White      213095          4
 ..         ...    ...         ...        ...
 995      Nokia  Green       99213          4
 996    Samsung   Blue       45698          4
 997    Samsung   Blue       54738          4
 998      Nokia  White       60000          4
 999  Motorolla  White       31600          4

 [1000 rows x 4 columns],
 0      400
 1      500
 2      700
 3      220
 4      350
       ...
 995    450
 996    750
 997    700
 998    625
 999    970
 Name: Price, Length: 1000, dtype: str)

In [10]:
#Build Ml Model
from sklearn.ensemble import RandomForestRegressor


phone_model = RandomForestRegressor()
phone_model.fit(X_train, y_train)
phone_model.score(X_test,y_test) 
#this cell will raise an error to overcome  below cell

ValueError: could not convert string to float: 'Motorolla'

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer 
#The ColumnTransformer encodes categorical features into numeric arrays.

features_cat = ["Make","Colour","Sim Cards"]
hottie = OneHotEncoder()

transformer = ColumnTransformer([("Onehottie",hottie,features_cat)],remainder = "passthrough")#remainder="passthrough" keeps your numeric columns untouched.
transformed_X = transformer.fit_transform(X)
pd.DataFrame(transformed_X)

# That notebook section you’re looking at, 
# 151 Getting Data Anatomy of Conversion,
its just explainantion...... of conversion string o numeric

# 152 ..Getting Data::: Second  Method of Conversion

In [11]:
 # 2nd method for conversion
transformed_new = pd.get_dummies(phone_data[["Make","Colour","Sim Cards"]])
transformed_new.astype(float)

,Sim Cards,Make_Iphone,Make_Motorolla,Make_Nokia,Make_Samsung,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
1,4.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,3.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
3,5.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
995,4.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
996,4.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
997,4.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
998,4.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
999,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [14]:
# # # Lets refit the model
# X_train,X_test,y_train,y_test =train_test_split(transformed_X,y,test_size=2.0)
# phone_model.fit(X_train,y_train); old but error

#Equivalent ways to split 80/20 #working
X_train, X_test, y_train, y_test = train_test_split(
    transformed_X, y, test_size=0.2, random_state=42
)

# Or using train_size 20/80 rule # working
# X_train, X_test, y_train, y_test = train_test_split(
#     transformed_X, y, train_size=0.8, random_state=42
# )
phone_model.fit(X_train,y_train);

NameError: name 'transformed_X' is not defined

In [15]:
phone_model.score(X_test,y_test)

AttributeError: 'RandomForestRegressor' object has no attribute 'estimators_'

# 153.Getting Data ,Missing Values

In [16]:
phone_missing_values = pd.read_csv('phone_data_missing_values.csv')

In [17]:
phone_missing_values

         Make Colour  Memory(kb)  Sim Cards    Price
0       Nokia  White    150043.0        4.0  $400.00
1     Samsung    Red     87899.0        4.0  $500.00
2         zte    NaN         NaN        NaN      NaN
3       Nokia   Blue     32549.0        3.0  $700.00
4      Iphone  Black     11179.0        5.0  $220.00
5   Motorolla  White    213095.0        4.0  $350.00
6      Iphone    NaN         NaN        NaN      NaN
7       Nokia  Green     99213.0        4.0  $450.00
8     Samsung   Blue     45698.0        4.0  $750.00
9     Samsung   Blue     54738.0        4.0  $700.00
10      Nokia  White     60000.0        4.0  $625.00
11  Motorolla  White     31600.0        4.0  $970.00
12    Samsung    NaN         NaN        NaN      NaN

In [18]:
phone_missing_values.isna().sum()

Make          0
Colour        3
Memory(kb)    3
Sim Cards     3
Price         3
dtype: int64

In [19]:
# # Fill NaN in Make column
########################################################################
# 1st #Avoid this method
# phone_missing_values["Make"].fillna("missing", inplace=True)

# # Fill NaN in Colour column
# phone_missing_values["Colour"].fillna("missing", inplace=True)

# # Fill NaN in Memory (kb) column with mean
# phone_missing_values["Memory(kb)"].fillna(
#     phone_missing_values["Memory(kb)"].mean(), inplace=True)
# #so we have to skip such type of errors
#######################################################################
# 2nd way
#Safe Fixes
#corrected by copilot#Fill NaN in Make column
phone_missing_values["Make"] = phone_missing_values["Make"].fillna("missing")
phone_missing_values["Colour"] = phone_missing_values["Colour"].fillna("missing")
phone_missing_values["Memory(kb)"] = phone_missing_values["Memory(kb)"].fillna(
    phone_missing_values["Memory(kb)"].mean()
)
# Verify the result 
print(phone_missing_values.isnull().sum())
print(phone_missing_values.head())

# 3rd way  # this good way to show fine table
#################################### Fill multiple columns at once###
# ### More easy ###
# phone_missing_values.fillna({
#     "Make": "missing",
#     "Colour": "missing",
#     "Memory(kb)": phone_missing_values["Memory(kb)"].mean()
# }, inplace=True)

Make          0
Colour        0
Memory(kb)    0
Sim Cards     3
Price         3
dtype: int64
      Make   Colour  Memory(kb)  Sim Cards    Price
0    Nokia    White    150043.0        4.0  $400.00
1  Samsung      Red     87899.0        4.0  $500.00
2      zte  missing     78601.4        NaN      NaN
3    Nokia     Blue     32549.0        3.0  $700.00
4   Iphone    Black     11179.0        5.0  $220.00

In [20]:
# it is not a good idea k ap jis m changes kr ry ho usy predict kro so,
phone_missing_values.dropna(inplace=True)

In [21]:
phone_missing_values.isna().sum()

Make          0
Colour        0
Memory(kb)    0
Sim Cards     0
Price         0
dtype: int64

# 154 Getting Data Missing Values method 2
### Method 2 : Fill Nan values using sklearn

In [22]:
phone_data_missing = pd.read_csv('phone_data_missing_values.csv')
phone_data_missing

         Make Colour  Memory(kb)  Sim Cards    Price
0       Nokia  White    150043.0        4.0  $400.00
1     Samsung    Red     87899.0        4.0  $500.00
2         zte    NaN         NaN        NaN      NaN
3       Nokia   Blue     32549.0        3.0  $700.00
4      Iphone  Black     11179.0        5.0  $220.00
5   Motorolla  White    213095.0        4.0  $350.00
6      Iphone    NaN         NaN        NaN      NaN
7       Nokia  Green     99213.0        4.0  $450.00
8     Samsung   Blue     45698.0        4.0  $750.00
9     Samsung   Blue     54738.0        4.0  $700.00
10      Nokia  White     60000.0        4.0  $625.00
11  Motorolla  White     31600.0        4.0  $970.00
12    Samsung    NaN         NaN        NaN      NaN

In [23]:
phone_data_missing.isna().sum()

Make          0
Colour        3
Memory(kb)    3
Sim Cards     3
Price         3
dtype: int64

In [24]:
phone_data_missing.dropna(subset=["Price"], inplace=True)
phone_data_missing.isna().sum()

Make          0
Colour        0
Memory(kb)    0
Sim Cards     0
Price         0
dtype: int64

In [25]:
# Split X and y 
X = phone_data_missing.drop('Price',axis=1)
y = phone_data_missing['Price']

In [26]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
import pandas as pd

# Column groups
cat_cols = ['Make', 'Colour']
num_cols = ['Sim Cards','Memory(kb)']

# Imputers
cat_imputer = SimpleImputer(strategy='constant', fill_value='missing')
num_imputer = SimpleImputer(strategy='mean')

# ColumnTransformer
imputer = ColumnTransformer(
    transformers=[
        ('cat', cat_imputer, cat_cols),
        ('num', num_imputer, num_cols)
    ]
)

# Apply imputation
phone_data_filled_X = imputer.fit_transform(X)

# Convert back to DataFrame
phone_data_filled_X = pd.DataFrame(
  phone_data_filled_X,
    columns=cat_cols + num_cols
)

phone_data_filled_X

        Make Colour Sim Cards Memory(kb)
0      Nokia  White       4.0   150043.0
1    Samsung    Red       4.0    87899.0
2      Nokia   Blue       3.0    32549.0
3     Iphone  Black       5.0    11179.0
4  Motorolla  White       4.0   213095.0
5      Nokia  Green       4.0    99213.0
6    Samsung   Blue       4.0    45698.0
7    Samsung   Blue       4.0    54738.0
8      Nokia  White       4.0    60000.0
9  Motorolla  White       4.0    31600.0

In [27]:
X.dtypes

Make              str
Colour            str
Memory(kb)    float64
Sim Cards     float64
dtype: object

In [28]:
phone_data_filled_X.isna().sum()

Make          0
Colour        0
Sim Cards     0
Memory(kb)    0
dtype: int64

# 155. Choosing Macgine Learning Model

# https://scikit-learn.org/stable/machine_learning_map.html

# 156.Using map to choose model
# Picking up Model for Regression
# Importing data,Boston Housing

In [36]:
from sklearn.datasets import fetch_california_housing

housing = fetch_california_housing()
X, y = housing.data, housing.target

In [37]:
df_california = pd.DataFrame(housing.data, columns=housing.feature_names) 
df_california["target"] = housing.target 
df_california.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [38]:
len(df_california)

20640

#
# Lets try Ridge regression model

In [43]:
from sklearn.datasets import fetch_california_housing
from sklearn.linear_model import Ridge
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

# Reproducibility
np.random.seed(1)

# Load California housing dataset
housing = fetch_california_housing()

# Build DataFrame
df_california = pd.DataFrame(housing.data, columns=housing.feature_names)
df_california["target"] = housing.target

# Split into train and test
X = df_california.drop("target", axis=1)
y = df_california["target"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Ridge regression
reg_model = Ridge()
reg_model.fit(X_train, y_train)

# Model score
print(reg_model.score(X_test, y_test))

0.5965957761160753

In [44]:
# to get better result or accuracy
from sklearn.datasets import fetch_california_housing
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
import pandas as pd
import numpy as np

# Reproducibility
np.random.seed(1)

# Load dataset
housing = fetch_california_housing()
df_california = pd.DataFrame(housing.data, columns=housing.feature_names)
df_california["target"] = housing.target

# Split data
X = df_california.drop("target", axis=1)
y = df_california["target"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Random Forest
rf_model = RandomForestRegressor(n_estimators=200, random_state=1)
rf_model.fit(X_train, y_train)
print("Random Forest R^2:", rf_model.score(X_test, y_test))

# Gradient Boosting
gb_model = GradientBoostingRegressor(n_estimators=200, random_state=1)
gb_model.fit(X_train, y_train)
print("Gradient Boosting R^2:", gb_model.score(X_test, y_test))

Random Forest R^2: 0.80807564907151
Gradient Boosting R^2: 0.8003636552408364